@page "{id}"
@using Cakeshop.DataLayer.Entities.Shop
@model Cakeshop.Web.Pages.Admin.Products.EditProductModel
@{
    ViewData["Title"] = "ویرایش محصول";

    List<Shop> ActiveShops = (List<Shop>)ViewData["ActiveShops"];
    List<Shop> InactiveShops = (List<Shop>)ViewData["InactiveShops"];

}

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Product.ProductId" />
        <input type="hidden" asp-for="Product.ProductImageName" />
        <div class="col-md-7">
            <h2>اطلاعات محصول</h2>
            <hr />
            <div class="form-group">
                <label>عنوان محصول</label>
                <input type="text" asp-for="Product.ProductTitle" class="form-control">
                <span class="text-danger" asp-validation-for="Product.ProductTitle"></span>
            </div>
            <div class="form-group">
                <label>گروه اصلی</label>
                <select class="form-control" id="Product_GroupId" asp-for="Product.GroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                <span class="text-danger" asp-validation-for="Product.GroupId"></span>
            </div>
            <div class="form-group">
                <label>گروه فرعی</label>
                <select class="form-control" id="Product_SubGroup" asp-for="Product.SubGroup" asp-items="@(ViewData["SubGroups"] as SelectList)"></select>
                <span class="text-danger" asp-validation-for="Product.SubGroup"></span>
            </div>
            <div class="form-group">
                <label>توضیحات محصول</label>
                <textarea class="form-control" asp-for="Product.ProductDescription" rows="10"></textarea>
                <span class="text-danger" asp-validation-for="Product.ProductDescription"></span>
            </div>
            <div class="form-group">
                <label>قیمت محصول (تومان)</label>
                <input type="number" asp-for="Product.ProductPrice" value="@Model.Product.ProductPrice" class="form-control" />
                <span class="text-danger" asp-validation-for="Product.ProductPrice"></span>
            </div>
            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-5">
            <p></p>
            <img id="imgProduct" class="thumbnail" src="/product/image/@Model.Product.ProductImageName" />
            <div class="form-group">

                <label>انتخاب تصویر</label>
                <input type="file" name="imgProductUp" id="imgProductUp">
            </div>
            <div class="form-group">
                <label>وضعیت محصول</label>
                <select class="form-control" asp-for="Product.IsExist">
                    <!option value="true" @(Model.Product.IsExist == true ? "selected" : "")>موجود است</!option>
                    <!option value="false" @((Model.Product.IsExist == false ? "selected" : ""))>موجود نیست</!option>
                </select>
                <span class="text-danger" asp-validation-for="Product.IsExist"></span>
            </div>

    </form>
</div>

@section Scripts
{
    <script>
        $("#Product_GroupId").change(function () {
            $("#Product_SubGroup").empty();
            $.getJSON("/home/GetSubGroups/" + $("#Product_GroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#Product_SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');

                        });

                });


        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgProduct').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgProductUp").change(function () {
            readURL(this);
        });
    </script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('Product_ProductDescription', {
            customConfig: '/js/Config.js'
        });

    </script>
}


